#mainProceYMother{
    height: 65vh;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 2fr 0.7fr 2fr;
    grid-template-areas:
    "titulos titulos titulos"
    "asideIzquierdo . asideDerecho"
    ;
}

#logo {
    height: 100px;
    width: 100px;
    text-align: end;
}

#titulos{
    grid-area: titulos;
    display: flex;
    justify-content: space-around;
    margin: 0vh 2.5vh 0vh 2.5vh;
}

#asideIzquierdo{
    grid-area: asideIzquierdo;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 1vh;
    
}

#asideDerecho{
    grid-area: asideDerecho;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 1vh;
}

#mother{
    grid-area: mother;
}

#proce{
    grid-area: proce;
}



aside div{
    text-align: center;
}

#foto{
    background-color: #D9D9D9;
    height: 100px;
    width: 100px;
}

/* ESTILOS HTML "PRODUCTO 1" */

#mainProductos{
    height: 65vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-areas: 
    "publiIzquierda comprarProducto publiDerecha"
    "publiIzquierda comprarProducto publiDerecha"
    "publiIzquierda comprarProducto publiDerecha"
    "publiIzquierda secFotosSecundarias publiDerecha"
    "publiIzquierda secBoton publiDerecha";
}
#secBoton{
    grid-area: secBoton;
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: end;
    
}

#secFotosSecundarias{
    grid-area: secFotosSecundarias;
    display: flex;
    justify-content: space-around;
}




#comprarProducto{
    margin-top: 3vh;
    grid-area: comprarProducto;
    display: flex;
    justify-content: center;
    

}

div h2{
    width: 60vh;
}

div h3{
    width: 45vh;
    height: 10vh;
}

div h4{
    width: 20vh;
}

#fotoPrincipal{
   
    height: 30vh;
    width: 30vh;
}

#fotoSecundaria{
    
   
    height: 15vh;
    width: 20vh;
}


#publiIzquierda{
    margin-top: 2vh;
    margin-left: 2.5vh;
    grid-area: publiIzquierda;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#productoPubliDerecha{
    margin-top: 2vh;
    margin-right: 2.5vh;
    grid-area: publiDerecha;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ESTILOS HTML "PROMO 1" */

#mainPromoUno{
  height: 65vh;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "publiIzquierda promo1 publiDerecha"
  "publiIzquierda promo1 publiDerecha"
  ;
}

#promo1{
    grid-area: promo1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#fotoPromo{
    height: 25vh;
    width: 25vh;
    margin-bottom: 2vh;
}

#botonComprarPromo{
    display: flex;
    justify-content: center;
}

#publiDerecha{
    margin-top: 2vh;
    margin-right: 2.5vh;
    grid-area: publiDerecha;
    display: flex;
    justify-content: center;
    align-items: center;
}
}





